body{
    background-color: rgb(221, 185, 255);
}

#caixa{
     display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;

}

#canvas{
    background-color: white;
    
}