
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.montserrat{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Estilização básica para o corpo da página */
body {
    /* Remove margens padrão e define o Flexbox para centralizar o conteúdo da página */
    margin: 0;
    min-height: 100vh; /* Garante que o body ocupe a altura total da viewport */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente o item filho (.cadastro) */
    align-items: center; /* Centraliza verticalmente o item filho (.cadastro) */
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #fbebff; /* Cor de fundo suave para a página */
}

h1{
    color: #672c7c;
}

/* Estilização da caixa de cadastro */
#cadastro {
    width: 90%; 
    max-width: 400px; 
    padding: 20px 30px;
    border-radius: 10px;
    background-color: #eebcff96; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

/* Centraliza os parágrafos de labels */
.texto{
    text-align: left; /* Volta o texto das labels para a esquerda */
    margin-bottom: 5px;
    color: #672c7c;
    font-weight: bold;
}

/* Estilização dos campos de input */
.caixa {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    background-color: #ffffffdf;
    border: 1px solid #c43bff77;
    border-radius: 5px;
    box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura/altura */
}

/* Estilização dos botões */
.btn{
    width: 48%; /* Dá um pouco de espaço entre os botões */
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #df89ffdf; /* Cor primária do botão */
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #9340b1;
}

/* Alinhamento do link de login */
#login-link {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    text-align: center;
}

#login-link p {
    text-align: center;
    font-size: 18px;
    color: rgb(200, 72, 255);
}

#login-link a {
    text-align: center;
    font-weight: normal;
    margin-bottom: 5px;
    color: #672c7c;
}
