<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Dinâmico</title>
    <link rel="stylesheet" href="atividade\blog.css">
</head>
<body>

        <div>
        <h1>Últimos Posts</h1>
        <button o class="criar-post-link" onclick="window.open('/cadastrar_blog')" style="cursor: pointer;">CRIAR POST</button>
                
       </div>
       <br><br>
       <%var i=1; for (var elemento of postagem) { %>

        

    
            <h2>Postagem <%=i%></h2>

            <div class="post-card">
                <div class="card-header">
                    <h2><%= elemento.bd_titulo %></</h2>
                    <span class="resumo"><%= elemento.bd_resumo %></span>
                </div>
                <p class="conteudo-post"><%= elemento.bd_conteudo %></p>
            </div>

        <% }); %>

        <% if (posts.length === 0) { %>
            <p>Nenhum post cadastrado ainda. Crie um!</p>
        <% } %>

                    <div>
                        
                    </div>
                        <br><br>
                       




    </div>

</body>
</html>