<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>status POST</title>
</head>
<body><div>
    <h1><%= resposta %></h1>
    </div>
    <a href="/blog">Home</a>

    
</body>

</html>