<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resposta de Login</title>
</head>
<body>
    <h1>Login Realizado com Sucesso!</h1>
    
    <p>Detalhes do Login:</p>
    <ul>
        <li>Email: <strong><%= email %></strong></li>
        <li>Senha: <strong><%= senha %></strong></li>
    </ul>

    <a href="/">Voltar para a Página Inicial</a>
</body>
</html>