<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Resposta de Cadastro</title>
</head>
<body>
    <h1>Cadastro Realizado com Sucesso!</h1>
    
    <p>Detalhes do Login:</p>
    <ul>
        <li>Nome: <strong><%= nome %></strong></li>
        <li>Telefone: <strong><%= telefone %></strong></li>
        <li>Email: <strong><%= email %></strong></li>
        <li>Senha: <strong><%= senha %></strong></li>
    </ul>

    <a href="/login">Realizar Login</a>
</body>
</html>