
#container{
    display: flex;
    background-color: orangered;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 300px;
    /* align-content: center; */

}

.itens{
    background-color: aquamarine;
    display: flexbox;
    margin: 10px;
    padding: 10px;
}

#d5{
    order: 1;
    flex-grow: 3;
}

#d16{
    order: -1;
}

#d4{
    flex-grow: 3;
}

#d8{
    flex-basis: 100px;
}

#d12{
    align-self: flex-start;
}

#d14{
    align-self: flex-end;
}