p{
    border-radius: 20px;
    box-shadow: 5px 5px grey;
    display: inline;
}

.solid{
    border-style: solid;

}

.dotted{
    border-style: dotted;
}

.dashed{
    border-style: dashed;
}

.double{
    border-style: double;
}

#d1{ 
    background-color: lightblue;
    width: 200px;
    height: 50px;
    border: dotted 5px blue;
    padding: 10px ;
    margin: 30px;
}

#d2{
    display: inline;

}

#s1{
    display: block;
}

.blue{
    background-color: blue;
}

.verde{
    background-color: green;
}

.red{
    background-color: red;
}

.inline{
    display: inline;
}

.padd_10{
    padding: 10px;
}

#d3{
    position: relative;
    top: 40px;
    left: 40px;
}

#d4{
    position: absolute;
    top: 40px;
    left: 40px;
    z-index:-1;
}

#d5{
    position: fixed;
    bottom:0px
   
}

