<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resposta</title>
</head>
<body>
    <h1>Resposta Usuário: </h1>

    <p>Resposta: <%= resposta %> </p>
    
</body>
</html>